.App {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#reader {
  max-width: 90%;
  margin: 0 auto;
}

.gap-between {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button#html5-qrcode-button-camera-start,
button#html5-qrcode-button-camera-stop {
  background: #a0a6ff;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid gray;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0 10px;
}
#html5-qrcode-button-camera-permission {
  background: #a0a6ff;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  border: 1px solid gray;
  padding: 4px 8px;
  border-radius: 8px;
  margin-bottom: 20px !important;
}
span#html5-qrcode-anchor-scan-type-change {
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none !important;
  text-transform: lowercase;
  color: #58505d;
  cursor: pointer !important;
}
.btn {
  background: #a0a6ff;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid gray;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0 10px;
}
img[alt="Info icon"] {
  display: none;
}
.center {
  text-align: center;
}

.input-field {
  margin: 10px 0;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid gray;
}
